@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* --- LEAFLET FIXES --- */

/* LEAFLET FIXES */
.leaflet-container img {
  max-width: none !important;
  width: auto !important;
}
.leaflet-container {
  background: #000;
  z-index: 0;
}
/* Hide the leaflet attribution if you want a cleaner look (optional) */
.leaflet-control-attribution {
  display: none; 
}